@import "tailwindcss";
@config "../tailwind.config.js";

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    z-index: 1;
}

.handmade { font-family: "Pacifico", cursive; }

/* GLOBALS */
body {
    /* choose text font */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    @apply md:text-[42px] text-[32px] md:text-center text-center;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 15px;
}
h2 {
    @apply md:text-[24px] text-xl;
}

p {
    @apply md:text-[18px] text-[22px]! md:leading-[1.7em] leading-[1.5em];
    
}


.highlight {
    /* choose a highlight color */
    background-color: #fff893;
    text-align: center;
    padding: 2px 2px;
}

.bullet {
    @apply w-[45vw] rounded flex flex-row items-center gap-6 p-6 pl-18 pr-18;
}

/* cta */
.cta {
    @apply flex flex-col items-center gap-4;
}
.cta-button {
    @apply md:w-full w-[92%] md:p-7 p-5 md:pl-16 md:pr-16 pl-8 pr-8 font-bold text-center rounded-sm text-lg drop-shadow-md;
    /* choose cta button color */
    background-color: #7FFFF0;
}
.cta-button:hover {
    cursor: pointer;
    /* choose cta button color */
    background-color: rgb(115, 231, 218);
}



/* LAYOUTS */

/* hero section */
.hero {
    @apply flex flex-col items-center gap-6
    bg-cover bg-no-repeat bg-center md:p-8 md:pl-14 md:pr-14 md:pb-40 pb-20
    p-2 pl-4 pr-4 text-center md:text-[18px] text-[22px];
    /* choose background image */
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
        url("assets/happy-family.jpg");
}
.true-header {
    @apply flex flex-row justify-between w-full md:mb-15 mb-5;
}
.hero h1 {
    @apply text-[36px] w-[90%] md:text-[60px] md:w-[60%];
}

/* sinlge column section */
.single {
    @apply flex flex-col items-center gap-6 md:pt-30 md:pb-30 pt-20 pb-20;
}
.single h1 {
    @apply md:w-[40%] w-[92%] text-center;
}
.single p {
    @apply md:w-[30%] w-[92%];
}

/* double column section */
.double {
    @apply md:grid flex flex-col gap-6 md:grid-cols-2 items-center justify-center md:gap-y-14 md:gap-x-8 md:w-[80%]
    w-[100%];
}
.double-col {
    @apply flex flex-col items-center gap-5;
}
.double h1 {
    @apply md:text-left text-center md:w-[85%] w-[92%];
}
.double p {
    @apply md:w-[85%] w-[92%];
}

/* background images */
.background-image {
    @apply bg-cover bg-center;
    /* choose background image */
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)),
        url("");
}

.final-cta-background {
    background-image: 
        linear-gradient(to bottom, white 0%, white 50%, rgb(255, 255, 255, 0.1) 75%),
        url('assets/final-background.jpg'); 
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center bottom;
}

/* logo section */
.logo-section {
    @apply flex flex-row items-center justify-center bg-gray-200 p-7 gap-20;
}
.as-seen {
    @apply p-3 bg-gray-300 font-bold;
}
.logo-container {
    @apply flex flex-row justify-center flex-wrap gap-15 max-w-[65vw];
}
.social-proof-logo {
    /* adjust grayscale */
    @apply h-8 filter grayscale opacity-65;
}

/* faq */
.faq {
    @apply max-w-2xl mx-auto mt-12 font-sans gap-2 flex flex-col;
}

.faq-item {
    @apply border-b border-black/10;
}

.faq-question {
    @apply w-full flex justify-between items-center p-5 text-lg font-bold
         hover:bg-gray-300 transition cursor-pointer border-none bg-gray-100;
}
.faq-question.active {
    /* choose active question background (brand color usually) */
    @apply bg-red-100;
}

.faq-answer {
    @apply max-h-0 overflow-hidden transition-all duration-300 px-5;
}

.faq-answer p {
    @apply py-4 w-fit! text-gray-700;
}

.icon {
    @apply text-2xl transition-transform;
}


/* review carousel */
.review-carousel {
    @apply bg-cover bg-center;
    /* choose background image */
    background-image:
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)),
        url("assets/review-carousel-image.png");
}

.carousel {
    @apply flex flex-row items-center justify-center md:gap-30 gap-3 md:w-[70%]! w-[95%]! text-xl;
}
.carousel span {
    @apply text-center flex items-center justify-center md:w-[50vw] w-[100%]! md:h-[30vh] h-[45vh];
}

.review-carousel svg:hover {
    color: #ccc;
    cursor: pointer;
}

.carousel span,
#review-author {
  transition: transform 0.4s ease, opacity 0.4s ease;
  display: inline-flex; /* needed for transform */
}

.slide-out-left {
  transform: translateX(-50%);
  opacity: 0;
}
.slide-out-right {
  transform: translateX(50%);
  opacity: 0;
}
.slide-in-left {
  transform: translateX(-50%);
  opacity: 0;
  animation: slideInLeft 0.4s forwards;
}
.slide-in-right {
  transform: translateX(50%);
  opacity: 0;
  animation: slideInRight 0.4s forwards;
}

@keyframes slideInLeft {
  from { transform: translateX(-50%); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

@keyframes slideInRight {
  from { transform: translateX(50%); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

/* form */
.cta-form {
    @apply flex flex-col items-center gap-3 md:w-[33%] w-[85%] text-lg;
}
.cta-form input,
.cta-form textarea {
    @apply border-2 border-gray-200 p-8 pt-4 pb-4 pl-19 bg-white z-1
        w-full focus:outline-none focus:ring-2 focus:ring-blue-400;
}

.cta-form span {
    @apply absolute left-7 top-1/2 -translate-y-1/2 text-black;
}
